<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div>
        <h3>Create user:</h3>  <br>
        <form method="post" action="/create">
                <input type="text" placeholder="username" name="username">
                <input type="email" placeholder="email" name="email">
                <input type="password" placeholder="password" name="password">
                <input type="number" placeholder="age" name="age">
                
                <button>Submit</button>
        </form>
    </div>
</body>
</html>